@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer base{
  body{
    @apply bg-red-200 text-green-600 tracking-wide;
  }

  h1,h2,h3,h4,h5,h6{
    @apply font-bold;
  }

  li{
    cursor:pointer;
    
  }

  button{
    @apply shadow-xl rounded-xl
  }
 }